
VoiceRecorder.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/VoiceRecorder.xcscheme

VoiceRecorder.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist

VoiceRecorder.xcworkspace/xcuserdata/developer.xcuserdatad/UserInterfaceState.xcuserstate
