
VoiceRecorder.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/VoiceRecorder.xcscheme

VoiceRecorder.xcodeproj/xcuserdata/developer.xcuserdatad/xcschemes/xcschememanagement.plist

VoiceRecorder.xcworkspace/xcuserdata/developer.xcuserdatad/UserInterfaceState.xcuserstate

VoiceRecorder.xcworkspace/xcuserdata/developer.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

VoiceRecorder.xcworkspace/xcuserdata/developer.xcuserdatad/xcdebugger/Expressions.xcexplist
